

.loading-container{
    position: relative;
}


.loading-text{
    position: absolute;
    top:50vh;
    left: 45vw;
    color: antiquewhite;
    font-size: 4rem;
    font-weight: 400;
}

.result-table{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: aqua;
    width: 80vw;
    height: 81vh;
    list-style: none;
    margin-left: 10vw;
    margin-top: 10vh;
   
} 

.titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: -8vh;
    padding: 1em;


}
.title{
    font-size: 3em;
    font-weight: 500;
    color: antiquewhite;
}

.table-1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
    top:1vh;
    left: 9vw;

}
.table-1::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: black;
    transform: rotate(90deg);
    left: -30vw;
}

.table-2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
    top:1vh;
    left: 39vw;

}
.table-2::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: black;
    transform: rotate(90deg);
    left: -27vw;
}
.table-3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
    top:1vh;
    left: 69vw;

}
.sub-table{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
   
}
.sub-table::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: black;
    left:-10vw;
    margin-top: -9px;

}



.result{
    color: rgb(19, 19, 18);
    font-size: 0.9rem;
    align-self: center;
    justify-self: center;
    margin-top: 8px;
}

.pagination{
    display: flex;
    width: 80vw;
    height: 20vh;
    background-color: rgb(10, 10, 10);
    margin-bottom: -15vh;
    justify-content: space-around;
    align-items: center;
}
.page-num{
    border: 0.2em;
    color: antiquewhite;
    font-size: 2em;
    transition: 1s;
    font-weight: 300;
    cursor: pointer;
}
.page-num::after{
    content:'';
    
    display: block;
    height: 2px;
    width: 20px;
    left: -1vw;
    transform: scale(0);
    background:  rgb(180, 36, 36);
    transition: transform 0.6s ease-in-out;
}
.page-num:hover::after{
   transform: scale(1);

}
.page-num:hover{
    color: aqua;
}